@model ShopBook187MVC.Models.ErrorViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model?.RequestId != null)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
<p>
    <strong>Development Mode</strong>
    <br />
    Swapping to the <strong>Development</strong> environment displays detailed information about the error that occurred.
    <br />
    <strong>The Development environment should be enabled only for local testing.</strong>
</p>
